body {
	background-color: #3a0c8f;
}
h1 {
	text-align: center;
	background-color: #f32828;
}
p{
	text-align: justify;
}
h2 {
	text-align: center;
	color: #099;
}
.hui{
	text-align: center;
	color: #e3ff26;
}